{:version      {:major 1
                :minor 0
                :patch 0}
 :version-type :semver3
 :changes      {:added      ["Idempotent changelog initialization via: `lein sealog init`"
                             "Rendering changelogs to markdown files via: `lein sealog render`"
                             "Changelog version management via: `lein sealog bump`"]}
 :timestamp    "2022-10-23T16:09:09.167841Z"}